{% extends 'manage.layouts.clean' %}

{% block content %}

    <div class="app flex-row align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card-group mb-0">
                        <div class="card p-4">
                            <div class="card-body">
                                <img src="/img/logo.png" class="home-logo">
                                <h1>{{ trans('auth.title') }}</h1>
                                <p class="text-muted"></p>
                                {% if message!='' %}
                                <div class="alert alert-success">
                                    <strong>{{ message }}</strong>
                                </div>
                                {% endif %}
                                {% if error!='' %}
                                <div class="alert alert-danger" role="alert">
                                    <strong>{{ error }}</strong>
                                </div>
                                {% endif %}
                                <form method="POST" action="{{ route('login') }}">
                                    {{ csrf_field() }}
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label for="name">{{ trans('auth.email') }}</label>
                                                <input type="text" name="email" placeholder="{{ trans('auth.email') }}"
                                                       class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label for="name">{{ trans('auth.password') }}</label>
                                                <input type="password" name="password" placeholder="{{ trans('auth.password') }}"
                                                       class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <button type="submit" class="btn btn-primary px-4">{{ trans('auth.next') }}</button>
                                        </div>
                                        <div class="col-6 text-right">
                                            <a href="{{ route('password.request') }}" class="btn btn-link px-0">{{ trans('auth.password_change_link') }}</a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12" style="text-align: center; padding-top: 30px;">
                                            <small>Beta v.0.1</small>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
