{% extends 'manage.layouts.clean' %}

{% block content %}


    <div class="app flex-row align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card-group mb-0">
                        <div class="card p-4">
                            <div class="card-body">
                                <img src="/img/logo.png" class="home-logo">
                                <h1>{{ trans('auth.reset_title') }}</h1>
                                <p class="text-muted"></p>
                                {% if error %}
                                    <div class="alert alert-danger" role="alert">
                                        <strong>{{ error }}</strong>
                                    </div>
                                {% endif %}
                                {% if message %}
                                    <div class="alert alert-success" role="alert">
                                        <strong>{{ message }}</strong>
                                    </div>
                                {% endif %}
                                <form method="post" action="">
                                    {{ csrf_field() }}
                                    <p>
                                    {{ trans('auth.password_required')|raw }}
                                    </p>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label for="password">{{ trans('auth.new_password') }}</label>
                                                <input type="password" name="password" placeholder="{{ trans('auth.password') }}" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label for="password_again">{{ trans('auth.new_password_again') }}</label>
                                                <input type="password" name="password_confirmation" placeholder="{{ trans('auth.password') }}" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <button type="submit" class="btn btn-primary px-4">{{ trans('auth.reset_password') }}</button>
                                        </div>
                                        <div class="col-6 text-right">
                                            <a href="/login" class="btn btn-link px-0">{{ trans('auth.login') }}</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
