@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900');

* {
    box-sizing: border-box;
    font-family: "Source Sans Pro", sans-serif;
}

body {
    background-color: #fafafa;
}

.container {
    margin: 0.75rem auto 0 auto;
    width: 809px;
}

.light {
    background-color: #fff;
}

.dark {
    margin-left: 65px;
}

.calendar {
    width: 100%;
    box-shadow: 0 0 35px -16px rgba(0, 0, 0, 0.75);
    padding: 20px 30px;
    color: #363b41;
    display: inline-block;
}

.header_title {
    font-weight: bolder;
    font-style: normal;
    font-size: 60px;
    color: #000;
    text-transform: none;
    word-wrap: normal
}

.header_copy {
    color: #A39D9E;
    font-size: 20px;
}

.calendar_plan {
    margin: 20px 0 40px;
}

.cl_plan {
    width: 100%;
    height: 140px;
    background-color: #f2a900;
    padding: 30px;
    color: #fff;
}

.cl_copy {
    font-size: 20px;
    margin: 20px 0;
    display: inline-block;
}

.cl_add {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    margin: 0 0 0 65px;
    color: #c2c2c2;
    padding: 11px 13px;
}

.calendar_events {
    color: #A39D9E;
}

.ce_title {
    font-size: 14px;
}

.event_item {
    margin: 18px 0;
    padding: 5px;
    cursor: pointer;
}
.event_item:hover:not(.op-50) {
    background-color: #f2a900;
}
.event_item:hover:not(.op-50) .ei_Dot {
    background-color: #fff;
}
.event_item:hover:not(.op-50) .ei_Copy, .event_item:hover:not(.op-50) .ei_Title {
    color: #fff;
}

.ei_Dot, .ei_Title {
    display: inline-block;
}

.ei_Dot {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: #A39D9E;
    box-shadow: 0px 0px 52px -18px rgba(0, 0, 0, 0.75);
}

.dot_active {
    background-color: #FF8494;
}

.ei_Title {
    margin-left: 10px;
    color: #363b41;
}

.ei_Copy {
    font-size: 12px;
    margin-left: 27px;
}

.dark {
    background-image: linear-gradient(-222deg, #646464, #454545);
    color: #fff;
}
.dark .header_title, .dark .ei_Title, .dark .ce_title {
    color: #fff;
}

.header-calendar {
    padding: 35px;
    background-color: #f2a900;
}

.op-50 {
    opacity: 0.5;
}

.btn-enrise {
    color: #fff;
    background-color: #f2a900;
    border-color: #f2a900;
}

.p-absolute {
    position: absolute;
}

.modal-event {
    width: 80%;
    height: 80%;
}

.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
    display: none;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

.m-0 {
    margin: 0 !important;
}

.p-0 {
    padding: 0 !important;
}

.br-0 {
    border-radius: 0;
}