.home-logo {
    margin: auto;
    display: block;
    max-width: 200px;
}

.container-left {
    float: left;
}
h1 {
    margin: auto;
    display: block;
    text-align: center;
    font-size: 1.5em;
}

.nav-dropdown-items {
    padding-left: 40px !important;
}

.nav-link:not(.active) {
    color: #aaa !important;
}

.nav-item a.active {
    font-weight: bold
}

a {
    color: #127da2;
}

.data-table-row {
    margin-bottom: 8px;
}
.data-table-elements {
    float: left;
}
.data-table-elements label,
.data-table-elements select {
    float: left;
    margin-right: 12px;
}
.data-table-elements select.elements {
    width: auto;
}
.data-table-elements input.query {
    max-width: 200px;
}

.main {
    margin-left: 200px;
}
