{% set menu = 'tablets' %}
{% extends 'manage.layouts.default' %}

{% block content %}


    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><strong><a href="/manage/rooms">{{ trans('tablets.title') }}</a></strong></li>
            <li class="breadcrumb-item active"><strong>{{ trans('tablets.edit') }}</strong></li>
        </ol>


        <div class="container container-left ">
            <div class="row">
                <div class="col-lg-6">

                    <div class="card">
                        <form action="" method="post" class="form-horizontal" enctype="multipart/form-data">
                            {{ csrf_field() }}
                            <div class="card-header">
                                <strong>{{ trans('tablets.edit') }}</strong>
                            </div>

                            <div class="card-body">
                                {% if error|length>0 %}
                                    <div class="alert alert-danger" role="alert">
                                        {% for err in error %}
                                            <strong>{{ err[0] }}</strong><br>
                                        {% endfor %}
                                    </div>
                                {% endif %}

                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label" for="name">{{ trans('tablets.room') }}</label>
                                    <div class="col-md-9">
                                        <select class="form-control" name="room_id">
                                            {% for room in rooms %}
                                                {% if room.id == tablet.room_id %}
                                                    <option selected value="{{ room.id }}">{{ room.name }}</option>
                                                {% else %}
                                                    <option value="{{ room.id }}">{{ room.name }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label" for="name">{{ trans('tablets.name') }}</label>
                                    <div class="col-md-9">
                                        <input type="text" name="name" class="form-control" placeholder=""
                                               value="{{ tablet.name }}">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label" for="name">{{ trans('tablets.calendar_id') }}</label>
                                    <div class="col-md-9">
                                        <input type="text" name="calendar_id" class="form-control" placeholder=""
                                               value="{{ tablet.calendar_id }}">
                                    </div>
                                </div>

                            </div>

                            <div class="card-footer">
                                <button type="submit" class="btn btn-success">{{ trans('tablets.edit') }}</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>

    </main>

{% endblock content %}
