{% set menu = 'tablets' %}
{% extends 'manage.layouts.default' %}

{% block content %}


    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active"><strong>{{ trans('tablets.title') }}</strong></li>
        </ol>


        <div class="container container-left ">
            <div class="row">
                <div class="col-lg-12">

                    {% if message!='' %}
                        <div class="alert alert-success">
                            <strong>{{ message }}</strong>
                        </div>
                    {% endif %}

                    {% if error!='' %}
                        <div class="alert alert-danger" role="alert">
                            <strong>{{ error }}</strong>
                        </div>
                    {% endif %}

                    <div class="card">

                        <div class="card-header">
                            <strong>{{ trans('tablets.title') }}</strong>

                            <a class="btn btn-sm btn-primary float-right" href="/manage/tablets/add">
                                <i class="fa fa-plus-circle"></i>
                                {{ trans('tablets.add') }}
                            </a>
                        </div>

                        <div class="card-body">

                            <div class="row data-table-row">
                                <div class="col-6 data-table-elements">
                                    <label>{{ trans('generic.show_label') }}</label>

                                    <select class="form-control form-control-sm elements" id="pagesize"
                                            data-url="/manage/tablets?query={{ query }}">
                                        <option value="10" {{ itemsPerPage==10 ? 'selected="selected"' }}>10</option>
                                        <option value="25" {{ itemsPerPage==25 ? 'selected="selected"' }}>25</option>
                                        <option value="50" {{ itemsPerPage==50 ? 'selected="selected"' }}>50</option>
                                        <option value="100" {{ itemsPerPage==100 ? 'selected="selected"' }}>100</option>
                                    </select>

                                </div>
                                <div class="col-6 data-table-elements content-right">
                                    <form action="">
                                        <input type="search" name="search"
                                               placeholder="{{ trans('generic.search_term') }}"
                                               value="{{ search }}"
                                               class="form-control form-control-sm query float-right">
                                        <label class="float-right">{{ trans('generic.search') }}</label>
                                    </form>
                                </div>
                            </div>

                            <table class="table table-responsive-sm">
                                <thead>
                                <tr>
                                    <th>{{ trans('tablets.room') }}</th>
                                    <th>{{ trans('tablets.name') }}</th>
                                    <th>{{ trans('tablets.calendar_id') }}</th>
                                    <th>#</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for tablet in tablets %}
                                    <tr>
                                        <td>{{ tablet.relatedRoom.name }}</td>
                                        <td>{{ tablet.name }}</td>
                                        <td>{{ tablet.calendar_id }}</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm"
                                               href="/manage/tablets/{{ tablet.uuid }}">{{ trans('generic.edit') }}</a>
                                            <a data-url="/manage/tablets/{{ tablet.uuid }}/delete" data-content="{{ trans("generic.delete_model") }}{{ tablet.name }}"
                                               class="btn btn-sm btn-danger delete-modal" tabindex="">
                                                {{ trans('tablets.delete') }}</a>
                                            <a class="btn btn-warning btn-sm"
                                               href="/tab/{{ tablet.uuid }}">{{ trans('tablets.show_calendar') }}</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            {{ rooms.links|raw }}
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <!-- Delete model -->
        <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="label"
             style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-danger" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">{{ trans('generic.delete_confirm') }}</h4>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p id="delete-body"></p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">{{ trans('generic.no') }}</button>
                        <button id="confirm-delete" data-url=""
                                class="btn btn-danger confirm-delete" type="button">{{ trans('generic.yes') }}, {{ trans('generic.delete')|lower }}</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- End delete model -->
    </main>

{% endblock content %}
