{% set menu = 'rooms' %}
{% extends 'manage.layouts.default' %}

{% block content %}


    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><strong><a href="/manage/rooms">{{ trans('rooms.title') }}</a></strong></li>
            <li class="breadcrumb-item active"><strong>{{ trans('rooms.add') }}</strong></li>
        </ol>


        <div class="container container-left ">
            <div class="row">
                <div class="col-lg-6">

                    <div class="card">
                        <form action="" method="post" class="form-horizontal" enctype="multipart/form-data">
                            {{ csrf_field() }}
                            <div class="card-header">
                                <strong>{{ trans('rooms.add') }}</strong>
                            </div>

                            <div class="card-body">
                                {% if error|length>0 %}
                                    <div class="alert alert-danger" role="alert">
                                        {% for err in error %}
                                            <strong>{{ err[0] }}</strong><br>
                                        {% endfor %}
                                    </div>
                                {% endif %}

                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label" for="name">{{ trans('rooms.name') }}</label>
                                    <div class="col-md-9">
                                        <input type="text" name="name" class="form-control" placeholder=""
                                               value="{{ room.name }}">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label" for="name">{{ trans('rooms.description') }}</label>
                                    <div class="col-md-9">
                                        <input type="text" name="description" class="form-control" placeholder=""
                                               value="{{ room.description }}">
                                    </div>
                                </div>
                            </div>

                            <div class="card-footer">
                                <button type="submit" class="btn btn-success">{{ trans('rooms.add') }}</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>

    </main>

{% endblock content %}
