

<script src="/vendors/js/jquery.min.js"></script>
<script src="/vendors/js/jquery-ui.min.js"></script>
<script src="/vendors/js/jquery.mask.min.js"></script>
<script src="/vendors/js/popper.min.js"></script>
<script src="/vendors/js/bootstrap.min.js"></script>
<script src="/vendors/js/pace.min.js"></script>

<script src="/js/meetingroomManage.js"></script>
</body>
</html>