<header class="app-header navbar">
    <button class="navbar-toggler mobile-sidebar-toggler d-lg-none" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">
        <img src="/img/logo.png" height="30" width="30">
    </a>
    <ul class="nav navbar-nav ml-auto">
        <li class="nav-item dropdown" style="padding-right: 32px;">
            <a class="nav-link nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
               aria-expanded="false">
                {{ auth_user().name }}
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                <div class="dropdown-header text-center">
                    <strong>{{ trans('generic.top.account') }}</strong>
                </div>
                <a class="dropdown-item" href="/logout"><i class="fa fa-lock"></i> {{ trans('generic.top.logout') }}</a>

                <form id="logout-form" action="{{ route('logout') }}" method="POST" style="display: none;">
                    @csrf
                </form>
            </div>
        </li>
    </ul>
</header>
