<div class="sidebar" style="margin-left: 0 !important;">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link {{ menu=='dashboard' ? 'active' }}" href="/manage">
                    <i class="fa fa-tachometer-alt"></i>
                    {{ trans('generic.sidebar.dashboard') }}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{ menu=='rooms' ? 'active' }}" href="/manage/rooms">
                    <i class="fa fa-dungeon "></i>
                    {{ trans('generic.sidebar.rooms') }}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{ menu=='tablets' ? 'active' }}" href="/manage/tablets">
                    <i class="fa fa-tablet "></i>
                    {{ trans('generic.sidebar.tablets') }}
                </a>
            </li>
        </ul>
    </nav>
</div>