{% include 'manage.layouts.partials.header' %}

<body class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden">

{% include 'manage.layouts.partials.nav' %}

<div class="app-body">

    {% include 'manage.layouts.partials.sidebar' %}

    {% block content %}
        CONTENT
    {% endblock content %}

</div>

{% include 'manage.layouts.partials.footer' %}
