{% set menu = 'dashboard' %}
{% extends 'manage.layouts.default' %}

{% block content %}


    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active"><strong>{{ trans('dashboard.title') }}</strong>
            </li>
        </ol>


        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card-deck">
                        <div class="card col-4 p-0">
                            <div class="card-header">{{ trans("dashboard.charts.todays_events") }}</div>
                            <div class="card-body">
                                <div class="chart-wrapper">
                                    {{ eventsCountChart.container() | raw }}
                                </div>
                            </div>
                        </div>

                        <div class="card col-8 p-0">
                            <div class="card-header">{{ trans("dashboard.charts.events_by_day") }}</div>
                            <div class="card-body">
                                <div class="chart-wrapper">
                                    {{ eventsByDayChart.container() | raw }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js" charset="utf-8"></script>
    {{ eventsCountChart.script() | raw }}
    {{ eventsByDayChart.script() | raw }}

{% endblock content %}
